In [17]:
pip install imbalanced-learn==0.9.0

Collecting imbalanced-learn==0.9.0
  Downloading imbalanced_learn-0.9.0-py3-none-any.whl (199 kB)
     -------------------------------------- 199.1/199.1 KB 2.4 MB/s eta 0:00:00
Requirement already satisfied: scikit-learn>=1.0.1 in c:\users\eliza\anaconda3\envs\mlenv\lib\site-packages (from imbalanced-learn==0.9.0) (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in c:\users\eliza\anaconda3\envs\mlenv\lib\site-packages (from imbalanced-learn==0.9.0) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\eliza\anaconda3\envs\mlenv\lib\site-packages (from imbalanced-learn==0.9.0) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\eliza\anaconda3\envs\mlenv\lib\site-packages (from imbalanced-learn==0.9.0) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\eliza\anaconda3\envs\mlenv\lib\site-packages (from imbalanced-learn==0.9.0) (1.7.3)
Installing collected packages: imbalanced-learn
  Attempting uninstall: imbalanced-learn
    Found existing installation: imbalanced-learn 0.7.0
    Uninstalling imbalanced-learn-0.7.0:
      Successfully uninstalled imbalanced-learn-0.7.0
Successfully installed imbalanced-learn-0.9.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\eliza\anaconda3\envs\mlenv\python.exe -m pip install --upgrade pip' command.

In [22]:
pip install scikit-learn==1.0

Collecting scikit-learn==1.0
Note: you may need to restart the kernel to use updated packages.  Downloading scikit_learn-1.0-cp37-cp37m-win_amd64.whl (7.1 MB)

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.

     ---------------------------------------- 7.1/7.1 MB 10.9 MB/s eta 0:00:00
Requirement already satisfied: joblib>=0.11 in c:\users\eliza\anaconda3\envs\mlenv\lib\site-packages (from scikit-learn==1.0) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\eliza\anaconda3\envs\mlenv\lib\site-packages (from scikit-learn==1.0) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\eliza\anaconda3\envs\mlenv\lib\site-packages (from scikit-learn==1.0) (2.2.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\eliza\anaconda3\envs\mlenv\lib\site-packages (from scikit-learn==1.0) (1.21.5)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
Successfully installed scikit-learn-1.0

imbalanced-learn 0.9.0 requires scikit-learn>=1.0.1, but you have scikit-learn 1.0 which is incompatible.
WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\eliza\anaconda3\envs\mlenv\python.exe -m pip install --upgrade pip' command.

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [6]:
# converting the string values into numerical ones using the get_dummies()
df = pd.get_dummies(df, columns=['initial_list_status','pymnt_plan','home_ownership' , 'verification_status', 'issue_d', 'next_pymnt_d', 'application_type', 'hardship_flag', 'debt_settlement_flag'])
df.head()

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,verification_status_Verified,issue_d_Feb-2019,issue_d_Jan-2019,issue_d_Mar-2019,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,low_risk,27.24,0.0,0.0,8.0,0.0,...,0,0,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,low_risk,20.23,0.0,0.0,17.0,1.0,...,1,0,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,low_risk,24.26,0.0,0.0,8.0,0.0,...,1,0,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,low_risk,31.44,0.0,1.0,10.0,1.0,...,1,0,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,low_risk,18.76,0.0,1.0,14.0,0.0,...,0,0,0,1,0,1,1,0,1,1

# Split the Data into Training and Testing

In [7]:
# Create our features
X = df.drop(columns="loan_status")

# Create our target
y = df["loan_status"]

In [8]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Verified,issue_d_Feb-2019,issue_d_Jan-2019,issue_d_Mar-2019,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.148001,0.371696,0.451066,0.177238,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.355104,0.483261,0.497603,0.381873,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [9]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(51612, 95)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [11]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
clf = BalancedRandomForestClassifier(n_estimators=100, random_state=1)

In [24]:
# Train the Logistic Regression model using the resampled data
clf_model =clf.fit(X_train, y_train)

In [25]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
y_pred = clf.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[   58,    29],
       [ 1899, 15219]], dtype=int64)

In [26]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.7778654048370137

In [27]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.67      0.89      0.06      0.77      0.58        87
   low_risk       1.00      0.89      0.67      0.94      0.77      0.61     17118

avg / total       0.99      0.89      0.67      0.94      0.77      0.61     17205

In [29]:
# List the features sorted in descending order by feature importance
importances = clf_model.feature_importances_
sorted(zip(clf_model.feature_importances_, X.columns), reverse=True)

[(0.07167111023296263, 'total_rec_prncp'),
 (0.0645252210566509, 'total_pymnt_inv'),
 (0.05935416817114553, 'total_pymnt'),
 (0.05858180197758506, 'total_rec_int'),
 (0.05061063491036099, 'last_pymnt_amnt'),
 (0.0271738559960894, 'int_rate'),
 (0.02189862607180714, 'dti'),
 (0.01937818543244144, 'issue_d_Jan-2019'),
 (0.017101409746789843, 'il_util'),
 (0.01692483176047318, 'annual_inc'),
 (0.016372183985055515, 'max_bal_bc'),
 (0.016179180632476017, 'avg_cur_bal'),
 (0.01602244752213021, 'out_prncp_inv'),
 (0.015676103093128238, 'mo_sin_old_rev_tl_op'),
 (0.015287888100251317, 'mths_since_recent_inq'),
 (0.014556527341265191, 'out_prncp'),
 (0.014329740135289171, 'installment'),
 (0.014329393346089642, 'tot_hi_cred_lim'),
 (0.014246087158706918, 'total_bc_limit'),
 (0.01412487421731883, 'revol_bal'),
 (0.014067853519476523, 'all_util'),
 (0.01404318165268009, 'total_bal_ex_mort'),
 (0.013917094696250689, 'mths_since_rcnt_il'),
 (0.01360799049674682, 'bc_util'),
 (0.013233849791747281, 'total_rev_hi_lim'),
 (0.01302327539003201, 'bc_open_to_buy'),
 (0.01296476074765185, 'tot_cur_bal'),
 (0.012247857415053789, 'loan_amnt'),
 (0.012124685015605347, 'mo_sin_old_il_acct'),
 (0.012106770136138107, 'issue_d_Mar-2019'),
 (0.011963219609496246, 'total_bal_il'),
 (0.011503213445500092, 'num_rev_accts'),
 (0.011459319468707568, 'inq_last_12m'),
 (0.011458375492595105, 'open_acc'),
 (0.01116846756930238, 'total_il_high_credit_limit'),
 (0.010799987647442619, 'mths_since_recent_bc'),
 (0.01026808547056477, 'num_actv_rev_tl'),
 (0.010115340016500779, 'num_bc_tl'),
 (0.009859364421887331, 'total_acc'),
 (0.009849523672028758, 'mo_sin_rcnt_rev_tl_op'),
 (0.009578769812750168, 'mo_sin_rcnt_tl'),
 (0.009239552816224822, 'num_op_rev_tl'),
 (0.009082408121647583, 'num_il_tl'),
 (0.009051787495038523, 'num_actv_bc_tl'),
 (0.008947533267543542, 'num_rev_tl_bal_gt_0'),
 (0.008306041650451302, 'total_cu_tl'),
 (0.00792869746060784, 'num_sats'),
 (0.007630401438410013, 'pct_tl_nvr_dlq'),
 (0.007347110015103715, 'percent_bc_gt_75'),
 (0.007255526726076863, 'inq_fi'),
 (0.006990720210413253, 'open_acc_6m'),
 (0.006882800360035363, 'acc_open_past_24mths'),
 (0.006824224412634725, 'open_rv_24m'),
 (0.006686324509856204, 'num_bc_sats'),
 (0.006402605853533023, 'open_act_il'),
 (0.005974947822201669, 'mort_acc'),
 (0.005841161616724916, 'num_tl_op_past_12m'),
 (0.0058060523550309264, 'open_il_24m'),
 (0.005430634239262177, 'total_rec_late_fee'),
 (0.005126856336334075, 'issue_d_Feb-2019'),
 (0.0044386860545001725, 'inq_last_6mths'),
 (0.004317901969960717, 'tot_coll_amt'),
 (0.004160614772003334, 'open_il_12m'),
 (0.004122445469836113, 'open_rv_12m'),
 (0.004101972175114773, 'next_pymnt_d_Apr-2019'),
 (0.003950807449479661, 'num_accts_ever_120_pd'),
 (0.00382602352496919, 'delinq_2yrs'),
 (0.0031910525559421745, 'verification_status_Not Verified'),
 (0.002784623342356492, 'next_pymnt_d_May-2019'),
 (0.002339208943338474, 'verification_status_Verified'),
 (0.0022645445497342306, 'home_ownership_OWN'),
 (0.002204245799789228, 'verification_status_Source Verified'),
 (0.002097798225549169, 'home_ownership_MORTGAGE'),
 (0.0018861674219359617, 'pub_rec_bankruptcies'),
 (0.001751380681636789, 'initial_list_status_f'),
 (0.0017268812113615402, 'application_type_Individual'),
 (0.0015457745134368536, 'pub_rec'),
 (0.0014242133542767491, 'home_ownership_RENT'),
 (0.0013715267811639734, 'application_type_Joint App'),
 (0.0008992137125265224, 'num_tl_90g_dpd_24m'),
 (0.0006211082329761421, 'initial_list_status_w'),
 (0.00025078781562104004, 'collections_12_mths_ex_med'),
 (0.00022391625175684546, 'home_ownership_ANY'),
 (3.846210742762466e-05, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [19]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier 
eec = EasyEnsembleClassifier(n_estimators=100, random_state=1)
eec.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [21]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
y_pred = eec.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[   79,     8],
       [  985, 16133]], dtype=int64)

In [22]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.9252521040566293

In [23]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.91      0.94      0.14      0.93      0.85        87
   low_risk       1.00      0.94      0.91      0.97      0.93      0.86     17118

avg / total       0.99      0.94      0.91      0.97      0.93      0.86     17205